{erl_opts, [
  {parse_transform, lager_transform}
]}.
{sub_dirs, [
  "apps/*"
]}.
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager", "master"}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "0.9.0"}},
  {erlualib, ".*", {git, "https://github.com/duwei/erlualib.git", "master"}},
  {erlport, ".*", {git, "https://github.com/hdima/erlport.git", "master"}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", "master"}},
  {couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git", {branch, "master"}}}
]}.
