<div class="jumbotron">
  <div class="container">
    <h2>eBill</h2>
    A billing system for the cloud
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Templates</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in venenatis tellus. Vestibulum tristique lacus at nisl rutrum, vel tempor lorem interdum. Duis massa est, faucibus non lorem eu, ullamcorper pulvinar enim. Nunc ornare risus libero, eu molestie arcu accumsan vel. Suspendisse potenti. In eget imperdiet tortor. Maecenas vehicula est odio, vitae feugiat purus laoreet ac. Nulla et pharetra nisi. Sed feugiat justo faucibus ipsum porta, eget tristique justo cursus.</p>
      <button type="button" class="btn btn-default" ng-click="go('/templates')">Go »</button>
    </div>
    <div class="col-md-6">
      <h3>Charging</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in venenatis tellus. Vestibulum tristique lacus at nisl rutrum, vel tempor lorem interdum. Duis massa est, faucibus non lorem eu, ullamcorper pulvinar enim. Nunc ornare risus libero, eu molestie arcu accumsan vel. Suspendisse potenti. In eget imperdiet tortor. Maecenas vehicula est odio, vitae feugiat purus laoreet ac. Nulla et pharetra nisi. Sed feugiat justo faucibus ipsum porta, eget tristique justo cursus.</p>
      <button type="button" class="btn btn-default" ng-click="go('/charging')">Go »</button>
    </div>
  </div>
</div>
