Source: ebill
Section: misc
Priority: optional
Maintainer: Sebastien Badia <sbadia@redhat.com>
Build-Depends: debhelper (>= 9~)
Standards-Version: 3.9.6
Homepage: https://github.com/redhat-cip/ebill/
Vcs-Git: git://gitorious.ow2.org/opencloudware/ebill.git
Vcs-Browser: https://github.com/redhat-cip/ebill.git

Package: ebill
Architecture: any
Depends: adduser,
         curl,
         devscripts,
         erlang-dev,
         flex,
         fop,
         git,
         libicu-dev,
         libmozjs185-dev,
         libncurses5-dev,
         libssl-dev,
         m4,
         make,
         openssl,
         python-pygments,
         ruby-dev,
         ruby2.1 | ruby2.0 | ruby1.9.3,
         tmux,
         unixodbc-dev,
         vim-nox,
         uuid-runtime,
         zlib1g-dev,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: couchdb
Description: eBill, a billing server for the Cloud
 eBill is a charging and billing server for cloud environments,
 this server and storage server was developed for the OpenCloudWare
 project.

Package: ebill-monglue
Architecture: all
Depends: adduser,
         redis-server,
         ruby-dev,
         ruby-http | ruby-httpclient,
         ruby-json,
         ruby-redis,
         ruby-sinatra,
         ruby2.1 | ruby2.0 | ruby1.9.3,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Monglue server for ebill
 Monglue is a little REST-full API in order to made the glue between
 the monitoring server and the billing server.
