body {
  padding-top: 50px;
}

.footer {
  border-top: 2px solid #eee;
  margin-top: 20px;
  padding-top: 10px;
}

.root-media {
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  background-color: #abcdef;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
